<!doctype html>
<html>
    <head>
        <title>{{ title }} - Home Tasker</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="logo"><a href="{{ url_for('index') }}">Home Tasker</a></div>
                <ul class="nav-links">
                    <a href="#">Task Calendar</a>
                    <a href="#">User List</a>
                    {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}">Sign In</a>
                    {% else %}
                    <a href="{{ url_for('logout') }}">Logout</a>
                    {% endif %}
                    <div class="dropdown">
                        <button class="dropbtn">{{ current_user.username }}</button>
                        <div class="dropdown-content">
                            <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
                            <a href="#">Settings</a>
                        </div>
                    </div>
            </nav>
        </header>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>