<!doctype html>
<html>
    <head>
        <title>{{ title }} - Home Tasker</title>
    </head>
    <body>
        <header>
            <nav>
                <div class="logo"><a href="{{ url_for('index') }}">Home Tasker</a></div>
                <ul class="nav-links">
                    <li><a href="">Task Calendar</a></li>
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">Sign In</a></li>
                    {% else %}
                    <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>